body {
      background-color: #5458d9;
      color: white;
      font-family: "Playwrite PE", cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 700px;
      margin: 0;
  }

  button {
      background-color: #95a611;
      color: white;
      font-family: "Playwrite PE", cursive;
  }
